FLASK_ENV=development
FLASK_DEBUG=1
HOST=127.0.0.1
PORT=5000
SECRET_KEY=change-this-in-development
FRONTEND_ORIGINS=http://localhost:4200
EXTERNAL_API_BASE_URL=https://api.chess.com/pub
EXTERNAL_API_TIMEOUT=10
